section{
  background-color: #F0F2F5;
  color: #1c1e21;
  padding: 100px 0;
}
/* .container{
  max-width: 98%;
  margin: 0 auto;
} */
.create-post{
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  /* max-width: 500px; */
  margin: 0 auto 50px;
}

.form-field{
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  /* margin-right: 20px; */
}
.single_post{
  /* max-width: 500px; */
  margin: 0 auto 10px;
  background-color: #fff;
  padding: 30px;
  position: relative;
}
.react-btn{
  border: none;
  background-color: transparent;
  color: #67656B;
  font-size: 18px;
}
.icon-btn{
  margin-right: 5px;
  font-size: 14px;
}
.clr-like{
  background-color: blue;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.clr-like i{
  font-size: 14px;
}
.count-view{
  display: flex;
  gap: 10px;
  align-items: center;
}
.count-view p{
  margin-bottom: 0;
}
.post-bottom{
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.create-post input{
  user-select: none !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.ant-modal .ant-modal-title{
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  color: #050505;
  text-align: center;
}
.form-create{
  margin: 20px 0;
}
.form-create input{
  border: 0;
  outline: none;
}
.form-create input:focus{
  outline: none;
  border: none;
}
.post-modalbtn{
  background-color: transparent;
  border: 0;
}
.single-post-top{
  display: flex;
  justify-content: space-between;
}
.modal-open{
  width: 300px;
  padding: 30x;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.edit-btn{
  padding: 10px 8px;
  border: none;
  background-color: transparent;
}

/*comments css*/
.comment-form{
  margin-bottom: 20px;
}
.comment-input{
  border: none;
  padding: 15px 20px;
  background-color: #F0F2F5;
  width: 80%;
  margin-right: 10px;
  border-radius: 50px;

}
.comment-input:focus{
  border: 0;
  outline: none;
}
.comment{
  margin-top: 20px;
  margin-bottom: 20px;
}
.single-comment{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* flex-basis: 5%; */
  background-color: #ddd;
}
.comment-text{
  background-color: #F0F2F5;
  padding: 10px;
  border-radius: 50px;
  max-width: 90%;
  position: relative;
}
.comment-body{
  flex-basis: 50%;
}
.comment-btn{
  border: none;
  background-color: transparent;
}
.comment-react-like{
  background-color: blue;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6px;
  right: 7px;

}
.comment-react-like i{
  font-size: 14px;
}
.comment-submit{
  border: none;
  background-color: transparent;
  color: blue;
  font-size: 24px;
}
.reply-comment{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.comment-reply-body{
  width: 100%;
}

---------------------------
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

Link{
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}
